$left: 0;
$carousel-ulWidth: 400%; //(#pics +1) * 100
$carousel-itemWidth: 25%; // (#pics) / 100
@media all and (max-width: 768px) {
  .container {
    background-color: purple!important;
  }
  .small-media-hide {
    display: none!important;
  }
  .featured-banner .inner {
    max-height: 243px;
    #carousel-container {
      height: 100%;
      #carousel-inner {
        height: 100%;
        overflow-y: hidden;
        -ms-overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-x: scroll;
      }

      #carousel-ul {
        left:$left;
        width: $carousel-ulWidth;
      }

      #carousel-ul li{
        max-width: 748px;
        width: $carousel-itemWidth;
        max-height: 243px;
        overflow: hidden;
        .item-inner {
          margin: 0px 5px 0px 5px;
        }

      }

      #carousel-ul li img {
        max-width: 748px;
      }

      #carousel-ul li div[class^="carousel-content-"] {
        left: 5%;
        max-width: 600px;
        width: 600px;
        text-align: center;
      }
      h1 {

      }
      h3 {

      }
      p {

      }
      button {
        a {
        }
      }
      button:hover {
        a {
        }
      }
    }
    #left-scroll, #right-scroll{

    }
    #left-scroll {
    }
    #left-scroll:after {

    }
    #left-scroll:hover {

    }
    #right-scroll {
    }
    #right-scroll:after {

    }
    #right-scroll:hover {

    }
    #dot-container {

      #dot-inner {

        .dot {
        }
      }
    }
  }
}