@media all and (max-width: 910px) {
  .bounce {
    color:blue;
    visibility: visible;
    animate: snapBounce 0.8s;
    -webkit-animation: snapBounce 0.6s;
  }
  @-webkit-keyframes snapBounce {
    0% {
      left: 0;
    }
    12.5% {
      left: -25px;
    }
    25% {
      left: -50px;
    }
    37.5% {
      left: -25px;
    }
    50% {
      left: 0;
    }
    75% {
      left: -30px;
    }
    100% {
      left: 0px;
    }
  }

  @keyframes snapBounce {
    0% {
      left: 0;
    }
    20% {
      left: -30px;
    }
    40% {
      left: 0;
    }
    55% {
      left: -20px;
    }
    70% {
      left: 0px;
    }
    80% {
      left: -15px;
    }
    85% {
      left: 0px;
    }
    90% {
      left: -10px;
    }
    95% {
      left: 0px;
    }
    100% {
      left: 0px;
    }
  }
  .small-media-hide {
    display: none!important;
  }
  .featured-banner .inner {
    max-height: 243px;
    #carousel-container {
      height: 100%;
      #carousel-inner {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        -ms-overflow-y: hidden;
        overflow-x: hidden;
        -ms-overflow-x: hidden;
      }

      #carousel-ul {

      }

      #carousel-ul li{
        max-width: 748px;
        max-height: 243px;
        overflow: hidden;
        margin: 0px;
        .item-inner {
          margin: 0px 5px 0px 5px;
        }
      }

      #carousel-ul  li {
        .image-desktop {
          display:none;
        }
        .image-tablet {
          display:block;
        }
        .image-mobile {
          display: none;
        }
      }

      #carousel-ul li:first-child{
        .item-inner {
          margin: 0px 5px 0px 0px;
        }

      }

      #carousel-ul li img {
        max-width: 748px;
      }

      #carousel-ul li div[class^="carousel-content-"] {
        right: 10%;
      }
      h1 {

      }
      h3 {

      }
      p {

      }
      button {
        a {
        }
      }
      button:hover {
        a {
        }
      }
    }
    #left-scroll, #right-scroll{

    }
    #left-scroll {
    }
    #left-scroll:after {

    }
    #left-scroll:hover {

    }
    #right-scroll {
    }
    #right-scroll:after {

    }
    #right-scroll:hover {

    }
    #dot-container {

      #dot-inner {

        .dot {
        }
      }
    }
  }
}