.bcFloat:first-child {
  top: 240px !important; }

.featured-banner .inner {
  padding: 0;
  background: none !important; }
  .featured-banner .inner #carousel-container {
    width: 100%;
    position: relative;
    height: 330px; }
    .featured-banner .inner #carousel-container #carousel-inner {
      width: 100%;
      overflow: hidden;
      background: transparent;
      height: 100%; }
    .featured-banner .inner #carousel-container #carousel-ul {
      position: relative;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      padding-bottom: 10px; }
    .featured-banner .inner #carousel-container #carousel-ul li {
      float: left;
      width: 1000px;
      position: relative;
      height: 330px;
      background: #fff;
      margin: 0; }
    .featured-banner .inner #carousel-container #carousel-ul li img[class^="carousel-image-"] {
      width: 1000px;
      border: 0px; }
    .featured-banner .inner #carousel-container #carousel-ul li .item-inner {
      border-right: 5px solid white; }
    .featured-banner .inner #carousel-container #carousel-ul li .image-desktop {
      display: block; }
    .featured-banner .inner #carousel-container #carousel-ul li .image-tablet {
      display: none; }
    .featured-banner .inner #carousel-container #carousel-ul li .image-mobile {
      display: none; }
    .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] {
      position: absolute;
      top: 15%;
      right: 10%;
      color: white;
      max-width: 325px;
      max-height: 225px;
      overflow: hidden;
      padding: 5px; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] h1 {
        line-height: 60px;
        font-size: 6em;
        color: white;
        margin: 0; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] h3 {
        font-size: 3em;
        color: white;
        margin: 0; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] p {
        margin-bottom: 0; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] button {
        transition: none;
        border: 2px solid white;
        font-size: 14px;
        font-weight: normal;
        background: none;
        margin: 0;
        margin-top: 20px; }
        .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] button a {
          padding: 10px 20px 11px;
          display: block;
          color: #fff;
          text-decoration: none; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] button:hover {
        background: #ffffff; }
        .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] button:hover a {
          color: #093347; }
    .featured-banner .inner #carousel-container #left-scroll, .featured-banner .inner #carousel-container #right-scroll {
      position: absolute;
      top: 45%;
      width: 30px;
      height: 30px;
      padding: 10px;
      cursor: pointer;
      cursor: hand;
      color: white;
      font-size: 30px;
      background-color: #0f5474;
      z-index: 3141592; }
      .featured-banner .inner #carousel-container #left-scroll img, .featured-banner .inner #carousel-container #right-scroll img {
        height: 30px; }
    .featured-banner .inner #carousel-container #left-scroll {
      left: -15px; }
      .featured-banner .inner #carousel-container #left-scroll img {
        float: left;
        margin-left: 5px; }
    .featured-banner .inner #carousel-container #left-scroll:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: #093347 transparent transparent;
      bottom: -65px;
      left: 0;
      border-width: 7px 0px 58px 20px; }
    .featured-banner .inner #carousel-container #right-scroll {
      right: -15px; }
      .featured-banner .inner #carousel-container #right-scroll img {
        float: right;
        margin-right: 5px; }
    .featured-banner .inner #carousel-container #right-scroll:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: #093347 transparent transparent;
      bottom: -65px;
      right: 0;
      border-width: 7px 15px 58px 0px; }
    .featured-banner .inner #carousel-container #dot-container {
      text-align: center;
      display: block;
      position: absolute;
      width: 100%;
      bottom: 10px;
      z-index: 1000; }
      .featured-banner .inner #carousel-container #dot-container #dot-inner {
        display: block;
        margin-left: auto; }
        .featured-banner .inner #carousel-container #dot-container #dot-inner .swiper-pagination-switch {
          display: inline-block;
          cursor: pointer;
          width: 10px;
          height: 10px;
          background-color: none;
          margin: 10px 15px 10px 15px;
          border: 2px solid white;
          border-radius: 100%; }
        .featured-banner .inner #carousel-container #dot-container #dot-inner .swiper-active-switch {
          background-color: white; }

@media all and (max-width: 1020px) {
  .featured-banner .inner {
    max-height: 289px; }
    .featured-banner .inner #carousel-container {
      height: 100%; }
      .featured-banner .inner #carousel-container #carousel-inner {
        height: 100%;
        overflow: hidden; }
      .featured-banner .inner #carousel-container #carousel-ul li {
        max-width: 890px;
        max-height: 330px;
        overflow: hidden; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] {
        right: 10%; } }
@media all and (max-width: 910px) {
  .bounce {
    color: blue;
    visibility: visible;
    animate: snapBounce 0.8s;
    -webkit-animation: snapBounce 0.6s; }

  @-webkit-keyframes snapBounce {
    0% {
      left: 0; }
    12.5% {
      left: -25px; }
    25% {
      left: -50px; }
    37.5% {
      left: -25px; }
    50% {
      left: 0; }
    75% {
      left: -30px; }
    100% {
      left: 0px; } }
  @keyframes snapBounce {
    0% {
      left: 0; }
    20% {
      left: -30px; }
    40% {
      left: 0; }
    55% {
      left: -20px; }
    70% {
      left: 0px; }
    80% {
      left: -15px; }
    85% {
      left: 0px; }
    90% {
      left: -10px; }
    95% {
      left: 0px; }
    100% {
      left: 0px; } }
  .small-media-hide {
    display: none !important; }

  .featured-banner .inner {
    max-height: 243px; }
    .featured-banner .inner #carousel-container {
      height: 100%; }
      .featured-banner .inner #carousel-container #carousel-inner {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        -ms-overflow-y: hidden;
        overflow-x: hidden;
        -ms-overflow-x: hidden; }
      .featured-banner .inner #carousel-container #carousel-ul li {
        max-width: 748px;
        max-height: 243px;
        overflow: hidden;
        margin: 0px; }
        .featured-banner .inner #carousel-container #carousel-ul li .item-inner {
          margin: 0px 5px 0px 5px; }
      .featured-banner .inner #carousel-container #carousel-ul li .image-desktop {
        display: none; }
      .featured-banner .inner #carousel-container #carousel-ul li .image-tablet {
        display: block; }
      .featured-banner .inner #carousel-container #carousel-ul li .image-mobile {
        display: none; }
      .featured-banner .inner #carousel-container #carousel-ul li:first-child .item-inner {
        margin: 0px 5px 0px 0px; }
      .featured-banner .inner #carousel-container #carousel-ul li img {
        max-width: 748px; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] {
        right: 10%; } }
@media all and (max-width: 768px) {
  .small-media-hide {
    display: none !important; }

  .featured-banner .inner {
    max-height: 243px; }
    .featured-banner .inner #carousel-container {
      height: 100%; }
      .featured-banner .inner #carousel-container #carousel-inner {
        height: 100%;
        overflow-y: hidden;
        -ms-overflow-y: hidden; }
      .featured-banner .inner #carousel-container #carousel-ul li {
        max-width: 748px;
        max-height: 243px;
        overflow: hidden; }
        .featured-banner .inner #carousel-container #carousel-ul li .item-inner {
          margin: 0px 5px 0px 5px; }
      .featured-banner .inner #carousel-container #carousel-ul li img {
        max-width: 748px; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] {
        left: 5%;
        max-width: 600px;
        width: 600px;
        text-align: center; } }
@media all and (max-width: 600px) {
  .small-media-hide {
    display: none !important; }

  .featured-banner .inner {
    max-height: 243px; }
    .featured-banner .inner #carousel-container {
      height: 100%; }
      .featured-banner .inner #carousel-container #carousel-inner {
        height: 100%;
        overflow-y: hidden;
        -ms-overflow-y: hidden; }
      .featured-banner .inner #carousel-container #carousel-ul li {
        max-width: 748px;
        max-height: 243px;
        overflow: hidden; }
      .featured-banner .inner #carousel-container #carousel-ul li img {
        max-width: 748px; }
      .featured-banner .inner #carousel-container #carousel-ul li .image-desktop {
        display: none; }
      .featured-banner .inner #carousel-container #carousel-ul li .image-tablet {
        display: none; }
      .featured-banner .inner #carousel-container #carousel-ul li .image-mobile {
        display: block; }
      .featured-banner .inner #carousel-container #carousel-ul li div[class^="carousel-content-"] {
        left: 0px;
        max-width: 600px;
        width: 100%;
        text-align: center; } }

/*# sourceMappingURL=brendan.css.map */
