$picWidth: 1000px;
$liWidth: 1000px;
.bcFloat:first-child {
  top: 240px!important;
}
.featured-banner .inner {
  padding:0;
  background: none!important;
//////////////////////////////////////////////////////////////////////////////
  #carousel-container {
    width: 100%;
    position: relative;
    height: 330px;
    #carousel-inner {
      width:100%;
      overflow: hidden;
      background: rgba(0, 0, 0, 0);
      height:100%;
    }

    #carousel-ul {
      position:relative;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      padding-bottom:10px;
    }

    #carousel-ul li{
      float: left;
      width:$liWidth;
      position: relative;
      height:330px;
      background: #fff;
      margin: 0;
    }

    #carousel-ul li img[class^="carousel-image-"] {
      width: $picWidth;
      border:0px;
    }

    #carousel-ul li div[class^="carousel-content-"] {
      position: absolute;
      top: 15%;
      right: 10%;
      color: white;
      max-width: 325px;
      max-height: 225px;
      overflow: hidden;
      padding: 5px;
      h1 {
        line-height: 60px;
        font-size: 6em;
        color: white;
        margin:0;
      }
      h3 {
        font-size: 3em;
        color: white;
        margin: 0;
      }
      p {
        margin-bottom: 0;
      }
      button {
        transition: none;
        border: 2px solid white;
        font-size: 14px;
        font-weight: normal;
        background: none;
        margin: 0;
        margin-top: 20px;
        a {
          padding: 10px 20px 11px;
          display: block;
          color: #fff;
          text-decoration: none;
        }
      }
      button:hover {
        background: #ffffff;
        a {
          color: #093347;
        }
      }
    }
    #left-scroll, #right-scroll{
      position: absolute;
      top: 45%;
      width: 30px;
      height:30px;
      padding: 10px;
      cursor: pointer;
      cursor: hand;
      color: white;
      font-size: 30px;
      background-color: lighten(#093347, 10%);
      z-index: 3141592;
      img {
        height:30px;
      }
    }
    #left-scroll {
      left:-15px;
      img {
        float: left;
        margin-left:5px;
      }
    }
    #left-scroll:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: #093347 transparent transparent;
      bottom: -65px;
      left: 0;
      border-width: 7px 0px 58px 20px;
    }
    #left-scroll:hover {

    }
    #right-scroll {
      right:-15px;
      img {
        float: right;
        margin-right: 5px;
      }
    }
    #right-scroll:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: #093347 transparent transparent;
      bottom: -65px;
      right: 0;
      border-width: 7px 15px 58px 0px;
    }
    #right-scroll:hover {

    }
    #dot-container {
      text-align: center;
      display: block;
      position: absolute;
      width:100%;
      bottom:10px;
      z-index:1000;
      #dot-inner {
        display: block;
        margin-left: auto;
        .swiper-pagination-switch {
          display: inline-block;
          cursor: pointer;
          width: 10px;
          height: 10px;
          background-color: none;
          margin: 10px 15px 10px 15px;
          border: 2px solid white;
          border-radius: 100%;
        }
        .swiper-active-switch {
          background-color:white;
        }
      }
    }
  }
}

@import 'Media';
@import 'tablet';
@import 'mediumMobile';
@import "smallMobile";
